.product{
    display: flex;
    border: 1px solid lightgrey;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.product h4{
    color: rgb(29,26,235);
    font-weight: 400;
}
.main-button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
}